
{% extends 'search/base.html' %}

{% block body_block %}
<div class="search_content" >
<form action="/search/lookup" method="get">
    <label for="country">Search by country: </label>
    <input id="wordsearch" type="text" name="wordsearch" value="{{ wordsearch }}">
    <input type="hidden" name="node" value="entity">

    {% csrf_token %}

    <select name="country-selected">

        <option name="countryselected" value="allcountry"> All Countries</option>

        {% for country in countries  %}
            <option name="countryselected" value="{{ country.1 }}"> {{ country.1 }}</option>
        {% endfor%}

    </select>
    <input type="submit" value="OK">
</form>
</div>

{% endblock %}