body {
  background: #FFF;
  color: #333;
  font-family: "Merriweather", Georgia, Times New Roman, Times, serif;
  font-size: 16px;
}

.search_content {
    background: #F4EDEA;
    box-sizing: border-box;
    padding: 2rem 1.5rem;
}

.applied_filter {
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #EDD8CC;
    border-radius: 6px;
    border: 1px solid #A5A5A5;
    display: inline-block;
    margin-right: .5em;
    min-width: 60px;
    padding: .1em 1em .1em .5em;
    position: relative;
    vertical-align: middle;
}

.applied_filter span {
    color: #852308;
    cursor: pointer;
    display: block;
    font-size: .6em;
}
.company-title {
    color: #9f9b9a;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: none;
}

.cont_project_title {
    display: inline-block;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 90px;
}

.project_title {
    color: #852308;
    font-size: 18px;
    font-weight: 900;
    margin-top: 15px;
    text-transform: uppercase;
}
.node-title {
    width: 35%;
}

.node-field {
    margin: 10px;
    padding: 1px;
    width: 10%;
}

input[type=submit],
.button {
    -moz-transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;
    background: #852308;
    border: 0;
    color: #FFF;
    cursor: pointer;
    font-style: 700;
    padding: 0 2em;
    text-transform: uppercase;
    transition: all 0.15s ease-out 0s;
}
textarea,
input[type=text],
input[type=email],
input[type=submit],
.button,
.option,
select {
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: 0 1em;
}

input[type=text],
input[type=email]
input[type=submit],
.button,
.option,
select,
option {
    height: 54px;
    vertical-align: middle;
}

.search_content input[type=text] {
    max-width: 585px;
    width: 100%;
}

.header-border {
    height: 95px;
    border-bottom: 2px solid #efefef;
    position: relative;
    z-index: 1;
}
