body,
.nav-button span {
  background: #FFF;
  color: #333;
  font-family: "Merriweather", Georgia, Times New Roman, Times, serif;
  font-size: 16px;
}

.search_content {
    background: #F4EDEA;
    box-sizing: border-box;
    padding: 2rem 1.5rem;
}

.applied_filter {
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #EDD8CC;
    border-radius: 6px;
    border: 1px solid #A5A5A5;
    display: inline-block;
    margin-right: .5em;
    min-width: 60px;
    padding: .1em 1em .1em .5em;
    position: relative;
    vertical-align: middle;
}

.applied_filter span {
    color: #852308;
    cursor: pointer;
    display: block;
    font-size: .6em;
}
.company-title {
    color: #9f9b9a;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-weight: 700;
    margin: 0 0 1em 0;
    text-transform: none;
}

.cont_project_title {
    display: inline-block;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 90px;
}

.project_title {
    color: #852308;
    font-size: 18px;
    font-weight: 900;
    margin-top: 15px;
    text-transform: uppercase;
}

.node-title {
    width: 35%;
}

.node-field {
    margin: 10px;
    padding: 1px;
    width: 10%;
}

input[type=submit],
.button {
    -moz-transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;
    background: #852308;
    border: 0;
    color: #FFF;
    cursor: pointer;
    font-style: 700;
    padding: 0 2em;
    text-transform: uppercase;
    transition: all 0.15s ease-out 0s;
}
textarea,
input[type=text],
input[type=email],
input[type=submit],
.button,
.option,
select {
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 .5em 0 0;
    padding: 0 1em;
}

input[type=text],
input[type=email]
input[type=submit],
.button,
.option,
select,
option {
    height: 54px;
    vertical-align: middle;
}

.search_content input[type=text] {
    max-width: 585px;
    width: 100%;
}

.header-border {
    border-bottom: 2px solid #efefef;
    height: 95px;
    position: relative;
    z-index: 1;
}
.entity-container .column-section,
.entity-container .column-content,
.intermediary-container .column-section {
    display: flex;
    margin-bottom: 15px;
}

.intermediary-container .column-content,
.officer-container .column-content {
    display: flex;
    width: 100%;
}

.nav-main,
.page-continer,
.officer-container .column-section {
    display: flex;
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

.nav-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

.nav-button span {
    color: #0000ff
}

.active {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.active span {
    color: #d3d3d3;
}

.intermediary-container,
.officer-container {
    display: none;
}

.list-continer {
    width: 70%;
}

.side-serch {
    width: 30%;
}

.node header {
    margin: 2em 0;
    position: relative;
}
.node header h3.node-title {
    color: #999;
    font-size: .75em;
    margin: 0;
    text-transform: uppercase;
}

ul.relationships  {
    font-size: 1.25em;
    margin: 0 0 1em 0;
}

ul.relationships  li {
    margin: 0 0 .5em 0;

}

ul.node-information li  {
    list-style-type: none;
    margin: 0 0 .5em 0;
    padding: 0 2em 0 0;
}
ul.node-information li span{
    display: inline-block;
}

.node a.node-link {
    -moz-transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;
    color: #F8B700;
    margin: 0 0 .5em 0;
    outline: none;
    transition: all 0.15s ease-out 0s;
}

.left-side{
    width: 50%;
}
.right-side {
    border-left: 1px solid #efefef;
    box-sizing: border-box;
    padding: 0 0 0 2em;
    width: 50%;
}

.main-info {
    -ms-align-content: flex-start;
    -ms-flex-flow: row wrap;
    -webkit-align-content: flex-start;
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    display: -ms-flexbox;
    display: -webkit-flex;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-size: .85em;
    text-rendering: optimizespeed;
}

.search_content {
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
}
.search_results_cont.connections h2 {
    color: #852308;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.search_results_cont.connections h3 {
    color: #852308;
    font-size: 1.8em;
    font-weight: 200;
    margin: 0.5em 0;
}

table.display-relationship {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.body-table-style th {
    background: #EDD8CC;
    padding: 4px 12px;
}

table.body-table-style th,
table.body-table-style td {
    color: #777;
    font-size: .85em;
    padding: 9px 12px;
    text-align: center;
}

table.body-table-style tr:nth-child(odd) td {
    background: #F3F3F3;
}

table.body-table-style td.source,
table.body-table-style th.source{
    text-align: right ;
}

table.body-table-style td.description {
    text-align: left;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table.body-table-style,
    table.body-table-stylee thead,
    table.body-table-style tbody,
    table.body-table-style th,
    table.body-table-style td,
    table.body-table-style tr {
        display: block;
    }

    thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border-bottom: 1px solid #eee;
        border: none;
        padding-left: 50%;
        position: relative;
    }

    td:before {
        left: 0px;
        padding-right: 15px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 20%;
    }

    table.body-table-style td.source a,
    table.body-table-style th.source a,
    table.body-table-style td.description a,
    table.body-table-style td span{
        margin-left: 70px;
        margin-right: 0px;
        right: 0px;
        text-align: right;
}

    .entity-table td:nth-of-type(1):before {
        content: " ";
    }
    .entity-table td:nth-of-type(2):before {
        content: "Role";
    }
    .entity-table td:nth-of-type(3):before {
        content: "Incorporation";
    }
    .entity-table td:nth-of-type(4):before {
        content: "Jurisdiction";
    }
    .entity-table td:nth-of-type(5):before {
        content: "Status";
    }
    .entity-table td:nth-of-type(6):before {
        content: "Data From";
    }

    .officer-table td:nth-of-type(1):before {
        content: " ";
    }
    .officer-table td:nth-of-type(2):before {
        content: "Country";
    }
    .officer-table td:nth-of-type(3):before {
        content: "Data From";
    }

    .intermediary-table td:nth-of-type(1):before {
        content: " ";
    }
    .intermediary-table td:nth-of-type(2):before {
        content: "Status";
    }
    .intermediary-table td:nth-of-type(3):before {
        content: "Data From";
    }

    .address-table td:nth-of-type(1):before {
        content: " ";
    }
    .address-table td:nth-of-type(2):before {
        content: "Data From";
    }

    .others-table td:nth-of-type(1):before {
        content: " ";
    }
    .others-table td:nth-of-type(2):before {
        content: "Data From";
    }
}

.tab {
    -khtml-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -moz-transition: all 0.15s ease-out 0s;
    -webkit-border-radius: 5px 5px 0 0;
    -webkit-transition: all 0.15s ease-out 0s;
    background: #F4EDEA;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    float: left;
    height: 80px;
    margin: 0 1em 0 0;
    max-width: 250px;
    padding: 1rem 1.5rem;
    transition: all 0.15s ease-out 0s;
}
.tab h2 {
    color: #852308;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-size: 1.2em;
    margin: 0 0 .1em;
}

.search_box .tab p {
    color: #9f9b9a;
    font-family: "Lato", "Source Sans Pro", sans-serif, Arial;
    font-size: .80em;
    margin: .25em 0 0 0;
}


.tab.not-active {
    background: #E0C8BC;
}

.search_box.big>.clearfix {
    position: relative;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.dropdown-no-display {
    display: none;
}
