{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <title>{% block head_title %}Paradise papers{% endblock head_title %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div class="header-border">
            <div class="cont clearfix column_lg">
                <div class="cont_project_title">
                    <div class="project_title"><a href="/search">Django Web app Using Neo4j Database</a></div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
