/***************************************************************************
 * Search Styles
 ***************************************************************************/

#search-home {
  height: 100vh;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  text-transform: lowercase;
  font-size: 3rem;
}

.search-label {

}

.search-filters {

}

#search-go {
  left: auto;
}

#search-tabs {
  margin-bottom: -50px;
}

#search-results {
 max-width: 1280px;
}
