<div id="entity" class="entity-container show">
    <div class="column-section">
        <div class="node-title"></div>
        <div  class="node-field"> Incorportation </div>
        <div  class="node-field"> Jurisdiction </div>
        <div  class="node-field"> Status </div>
        <div class="node-field"> Data From </div>
    </div>


    {% for entity in entities %}
        <div class="column-content">
            <div class="node-title">
                <a href="/search/{{ entity.node_id }}">{{entity.name}}</a>
            </div>

            <div class="node-field">
                {{entity.incorporation_date}}
            </div>

            <div class="node-field">
                {{entity.jurisdiction_description}}
            </div>

            <div class="node-field">
                {{entity.status}}
            </div>

            <div class="node-field">
                {{entity.sourceID}}
            </div>
        </div>
    {% endfor %}
</div>
