<div id="intermediary" class="intermediary-container">
    <div class="column-section">
        <div class="node-title"></div>
        <div class="node-field">Country</div>
        <div class="node-field">Status</div>
    </div>

    {% for intermediary in intermediaries %}
        <div class="column-content">
            <div class="node-title">
                <a href="/search/intermediary/{{ intermediary.node_id }}"> {{ intermediary.name }}</a>
            </div>
            <div class="node-field">
                {{ intermediary.countries }}
            </div>

            <div class="node-field">
                {{ intermediary.status }}
            </div>
        </div>
    {% endfor %}
</div>
