<div id="officer" class="officer-container">
    <div class="column-section">
        <div class="node-title"></div>
        <div class="node-field">Linked To</div>
        <div class="node-field">Data From</div>
    </div>

    {% for officer in officers %}
        <div class="column-content">
            <div class="node-title">
                <a href="/search/officer/{{ officer.node_id }}">{{ officer.name }}</a>
            </div>

            <div class="node-field">
                {{ officer.countries }}
            </div>

            <div class="node-field">
                {{ officer.sourceID }}
            </div>
        </div>
    {% endfor %}
</div>
