/***************************************************************************
 * Search App Styles
 ***************************************************************************/

#search-home {
  height: 100vh;
}

.search-input {
  background: transparent;
  border: none;
  font-size: 3rem;
  padding: 0;
  outline: none;
  text-transform: lowercase;
}

#search-go {
  left: auto;
}

#search-tabs {
  margin-bottom: -50px;
}

#search-results {
  max-width: 1280px;
}
