{% extends "base.html" %}

{% block content %}

    <!-- Search home -->
    <div class="container-fluid search-home bg-white">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 text-center">
          <h1 class="display-3 mb-5">Paradise Papers Search</h1>

          <form class="search-form">
            <!-- @todo Filters  -->
            <div class="form-group row">
              <select class="form-control col" id="inputGroupSelect01" data-bind="options: _countryList">
              </select>
              <select class="form-control col" id="inputGroupSelect01">
                <option selected>All Countries</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div> <!-- End Filters -->

            <div class="form-row">
              <div class="form-group col-12">
                <div class="row">
                  <div class="col">
                    <input type="text" class="w-100 form-control-xs-lg search-input" id="search-input" name="q" placeholder="Search..." value="" data-bind="value: _searchText">
                  </div>
                  <div class="col-auto mt-auto">
                    <a href="#search-results" class="btn btn-link" data-bind="click: initNodeSeach">
                      <i class="fa fa-search fa-2x"></i>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="my-0">
                  </div>
                  <div class="col">
                    <label for="search-input" class="search-label form-text text-muted text-left">Enter a name here or filter by country to see a full list of names</label>
                  </div>
                  <div class="col-auto mb-auto">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- Search home -->

    <!-- Sticky nav tabs -->
    <nav class="navbar sticky-top navbar-light bg-white">
      <ul class="nav nav-tabs w-100" id="nodeTabs" role="tablist" data-bind="foreach: _nodeSearchList">
        <!-- For each node add a tab item -->
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="" href="" role="tab" aria-controls="" aria-selected="" data-bind="text: _node_type, attr: {id: _node_type+'-tab',href: '#'+_node_type, 'aria-controls': _node_type, 'aria-selected': _activateTab}, css:{active: _activateTab}, click: (x)=>$parent.toggleNodeSearch(x)"></a>
        </li>
      </ul>
    </nav> <!-- Sticky nav tabs -->


    <!-- Search Results Container  -->
    <div id="search-results" class="container-fluid search-results">
      <div class="row">
        <div class="col">

          <div class="tab-content" id="nodeTabsContent" data-bind="foreach: _nodeSearchList">
            <!-- For each node add a tab panel -->
            <div class="tab-pane fade show" id="" role="tabpanel" aria-labelledby="" data-bind="attr: {id: _node_type, 'aria-labelledby': _node_type+'-tab'},  css:{active: _activateTab}">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Lasdt</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody data-bind="foreach: _nodeSearchData">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-5" data-bind="click: continueNodeSearch">Load More</button>
        </div>
      </div>
    </div> <!-- Search Results Container  -->

    <div id="search-go" class="">
      <a href="#search-home"  class="btn btn-link m-5" data-bind="">
        <i class="fa fa-search fa-4x"></i>
      </a>
    </div>
{% endblock content %}
